<h1>ブログ詳細画面</h1>
  <p>タイトル: <%= @blog.title %></p>
  <p>内容: <%= @blog.content %></p>
  <p>投稿者: <%= @user.name %></p>

  <br>
  
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to "Back", blogs_path %></button>
  </div>