<div class="container">
  <div class="top_image">
    <div class="back_transparent"></div>
    <div class="top_message">
      <h1>My blog</h1>
      <h4>日々の出来事を140文字以内で綴ってみませんか?</h4>
    </div>
	</div>
</div>