.navbar-default {
    background-color: #2c3e50;
    /* border-color: none; */
    border: none;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 2.5rem;
	line-height: 2.5rem;
}

.navbar-default .navbar-brand:hover {
  color: #C0C0C0;
}

.navbar-toggle {
	background-color: #2c3e50;
}

#gnavi {
	background-color: rgba(44, 62, 80, 0.95);
}

.btn-default {
	background-color: #fff;
	padding:5px 10px;
  text-decoration :none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	/* transition: .3s; */
	border-radius: 5px;
	color: #337ab7;
}

.btn-default:hover {
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
