.confirm_form {
	text-align: center;
	display: inline-block;
}

.confirm_form p {
  // height: 161px;
  // width: 328px;
  // font-size: 1.5rem;
  // line-reak-word;
  // text-align: left;
  // border: solid 1px #6091d3;
  // background-color: #fff;
  // padding: 15px 5px 15px 15px;height: 1.5;
  // word-wrap: b
  overflow: scroll;
}
