.container {
	margin: 0 auto;
}

td {
	border:0;
}

.content {
	margin: 50px auto;
  width: 100%;
  word-wrap: break-word;
}

.delete_button {
	margin: 10px;
	display: inline-block;
}

.edit_button {
	margin: 10px;
	display: inline-block;
}

.post {
	color: #6091d3;/*文字色*/
	background-color: #FFF;
	border: solid 3px #6091d3;/*線*/
	border-radius: 10px;/*角の丸み*/
	color: #708090;
	padding: 15px;
	margin-bottom:10px;
}

.user_name {
	display: inline-block;
	margin-right: 10px;
}

.date {
	display: inline-block;
	margin-left: 10px;
}
