// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"] {
	padding: 3px;
}

input[type="email"] {
	padding: 3px;
}

input[type="password"] {
	padding: 3px;
}

input[type="submit"] {
	padding: 3px;
	margin-top: 20px;
}