html {
	font-size: 62.5%;
	position: relative;
  min-height: 100%;
  // height: 100%;
}

body {
	height: 100%;
	text-align: center;
}

div.container {
	height: 100%;
	text-align: center;
  margin: 0 auto;
  padding: 0p;
  padding-top: 80px;
  padding-bottom: 85px;
}
  
.navbar {
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  font-size: 1.8rem;
  position: fixed;
  z-index: 100;
  /* デフォルトで設定されている角丸を無効にする*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#gnavi a {
  color: #fff;
  line-height: 2.5rem;
}

#gnavi a:hover {
  color: #C0C0C0;
}

  ul {
    margin: 0 auto;
		list-style: none;
		margin: 0;
		padding: 0;
		
  }
  
  .menu li a {
    display: block;
    padding: 15px;
    text-decoration: none;
		color:#fff;
  }
  
  .menu li {
    float: left;
    width: auto;
  }
  
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }

  
  .footer {
    width: 100%;
    height: 60px;
    background-color:#2c3e50;
    color: #fff;
    font-size: 12px;
    position: absolute;
		bottom: 0;
		display: table;
		margin: 30px auto 0px  auto;
  }
	
	.footer p {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.top_image {
  // background-image: image-url("caffe.JPG");
  // background-size: cover;
  height:0;
  /* 表示画像の高さ ÷　表示画像の幅 × 100
  (ディスプレイのサイズに合わせて背景画像を100%で表示させる)*/
  padding-bottom: 66.66%;
  margin: 0;
  text-align: left;
  position: relative;

  // background-image: image-url("caffe.JPG");
  // background-size: cover;
}

.back_transparent {
  /* 背景画像の透過用css */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
 /*透過の設定*/
  opacity: 0.7;
   left: 0;
  background-image: image-url("caffe.JPG");
  background-size: cover;

}

.top_message {
  width: 100%;
  height: 100;
  font-weight: bold;
  text-align: center;
  /*位置の設定 - 上下中央寄せ*/
  position: absolute;
  margin: auto;
  top: 20px;
  bottom: 0;
  font-size: 1.5rem;

  // height: 100%;
  // background: rgba(255, 255, 255, 0.4);
  // background-image: image-url("caffe.JPG");
  // background-size: cover;
  // background-position: center;

}

.log_in {
  margin-top: 90px;
}

.profile {
  margin-top: 90px;
}

.danger {
  margin-top: 90px;
  margin-bottom: -70px;
}

.success {
  margin-top: 90px;
  margin-bottom: -70px;
}

.notice {
  margin-top: 90px;
  margin-bottom: -70px;
}
 
.sign_up {
  margin-top: 90px;
}